{
    "supabase_url": "postgresql://postgres:Admin2020@db.avmnttljluptvsgiuptz.supabase.co:5432/postgres",
    "supabase_key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2bW50dGxqbHVwdHZzZ2l1cHR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk2Nzg3NTAsImV4cCI6MjA1NTI1NDc1MH0.PSuRSzcgQseWDaFZ88Hv4s4ANdcPPRqUr4wq5mrmOYA"
} 